.summary-wrapper {
  margin-top: 3rem;
}


.summary-container {
  display: flex;
  flex-direction: column;
}

.summary-wrapper h2 {
  text-align: center;
 
}
.summary-container h3 {
  margin-top: 1rem;
}

.results-container {
  display: flex;
  flex-direction: column;
}

.result-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.experiment-data_item {
  display: flex;
  gap: 15px;
}

.experiment-data_details {
padding: 5px 15px;
}