.report-form {
	width: 100%;
	max-width: 600px;
	padding-block-start: 1rem;
	display: flex;
	flex-direction: column;
}

.report-button {
	float: right;
	width: 30%;
	margin-top: 30px;
}

input,
textarea {
	width: 100%;
	display: block;
	margin-block: 0.3rem 1rem;
}

textarea {
	min-height: 125px;
}

.report-form label {
	display: block;
	font-size: 0.8rem;
	color: var(--grey-05);
}

.form-half {
	display: flex;
	gap: 1rem;
}

.bayesian-add-button {
  margin-bottom: 2rem;
}
