:root {
	--main-black: hsl(0, 0%, 20%);
	--main-white: hsl(0, 0%, 100%);
	--grey-05: hsl(227, 12%, 30%);

	color: var(--main-black);
	background-color: var(--main-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* CSS Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Regular styles */

html,
body {
	height: 100%;
}

#root {
	
	height: 100%;
	 /* display: grid; 
	 grid-template-columns:  minmax(360px, 1fr) minmax(185px, 0.5fr);  */
	grid-template-rows: 1fr;
	background-color: #ebecf1;
	font-family: 'Inter', system-ui, 'Avenir', 'Helvetica', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

.page-container {
  max-width: 1280px;
  padding: 2rem;
}

.page-container.c-center {
  margin: 0 auto;
}

textarea {
  resize: none;
}

@media print {
  body {
      -webkit-print-color-adjust: exact;
      color-adjust: exact; 
  }

  .text-white {
      color: #FFFFFF !important; /
  }

}

